<div class="item__line">
    <div class="item-photo " data-marker="item-photo">
      
  <a class="js-item-slider item-slider" href="/moskva/tovary_dlya_kompyutera/asus_rx_570_strix_1814176422" target="_self"> 
    <ul class="item-slider-list js-item-slider-list">
    
   <li class="item-slider-item js-item-slider-item ">
       
   <div class="item-slider-image" style="background-color: #f8f8f8">
     <img src="https://72.img.avito.st/image/1/FVf0Uba3ub7i8QO-0lkAdm_yubhW8rm4MZE" class="large-picture-img" 
     alt="Asus RX 570 Strix">
     </div>
    </li>
    
   <li class="item-slider-item js-item-slider-item js-item-slider-item_last">
       
   <div class="item-slider-image" style="background-color: #f8f8f8">
     <img src="https://26.img.avito.st/image/1/W-M0kra39woiMk0KDoMcw68x9wyWMfcM8VI" class="large-picture-img" 
     alt="Asus RX 570 Strix">
     </div>
    </li>
    </ul>
   </a>
     
  <div class="favorites-add is-design-simple js-favorites-add" data-marker="favorites-add">
    <a class="favorites-add__link js-favorites-add-toggle" href="/favorites/add/1814176422" 
    data-event-config="{&quot;id&quot;:1814176422,&quot;active&quot;:false,&quot;categorySlug&quot;
      :&quot;tovary_dlya_kompyutera&quot;,&quot;rootCategoryId&quot;:6,&quot;access&quot;:
      {&quot;favorite&quot;:true,&quot;compare&quot;:false},&quot;searchHash&quot;:
      &quot;r131ml21xdcooc0wos4skgo844cc4wg&quot;,&quot;fromPage&quot;:&quot;catalog&quot;
      ,&quot;fromBlock&quot;:null}" title="Добавить в избранное">
   
   <i class="i js-favorites-add-icon i-favorites-big i-favorites_filled-blue" data-state="empty" data-root-category-id="6"> </i> <span class="favorites-add__label pseudo-link js-favorites-add-label">В избранное</span> </a>
   </div>
   </div>
      
   <div class="item_table-wrapper">
    <div class="description item_table-description"> <div class="item_table-header">
    <h3 class="title item-description-title " data-marker="item-title"> <a class="item-description-title-link" 
      itemprop="url" href="/moskva/tovary_dlya_kompyutera/asus_rx_570_strix_1814176422" target="_self" 
      title="Asus RX 570 Strix в Москве"> <span itemprop="name">
   Asus RX 570 Strix
   </span> </a>
    </h3>
    <div class="about" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
   <span itemprop="priceCurrency" content="RUB"></span><span class="price " itemprop="price" content="0" 
   data-marker="item-price">   5 000   <span class="font_arial-rub">₽</span>
  </span><div class="js-catalog-delivery catalog-delivery 
   catalog-delivery_with-margin" data-item-id="1814176422"><div class="root-root-s4DkA">
     <span class="tooltip-tooltip-box-2rApK"><span class="tooltip-target-wrapper-XcPdv">
       <svg width="20" height="18" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd">
         <path class="root-icon-OWUTg" d="M17.462 13c.025.132.038.267.038.406 0 1.182-.933 2.14-2.083 2.14-1.151 
         0-2.084-.958-2.084-2.14 0-.139.013-.274.038-.406H6.63c.024.132.037.267.037.406 0 1.182-.933 2.14-2.084 
         2.14-1.15 0-2.083-.958-2.083-2.14 0-.139.013-.274.038-.406H.917A.917.917 0 0 1 0 12.083V1.917C0 1.41.41 
         1 .917 1h10.166c.507 0 .917.41.917.917V10h1V5.917c0-.507.41-.917.917-.917h1.734c.232 0 .454.087.624.245l3.
         432 3.183A.917.917 0 0 1 20 9.1v2.983c0 .507-.41.917-.917.917h-1.62z"></path></g></svg></span></span></div></div>
   </div>
      </div>
           
   <div class="data">
                         <p></p>
          <div class="item-address">
          <span class="item-address-georeferences"><span class="item-address-georeferences-item">
            <span class="item-address-georeferences-item-icons">
              <i class="item-address-georeferences-item-icons__icon" style="background-color: #943E90"></i>
            </span><span class="item-address-georeferences-item__content">Кузьминки</span></span></span>
  </div>
        <div class="item-date">
   
  <div class="js-item-date c-2" data-absolute-date="27 сентября 17:27" data-relative-date="2 недели назад" data-marker="item-date">2 недели назад</div>
   </div>
      <div class="item-notes-wrapper item-notes-wrapper_serp">
   <div data-item-id="1814176422" data-user-id="" data-category-id="101" data-category="tovary_dlya_kompyutera" data-vertical="" data-city-name="Москва" data-region-name="MSK" class="item-view-notes js-item-view-notes hidden"></div>
   </div>
    </div> </div>
     <div class="item_table-aside ">
         
  <div class="js-item_table-extended-contacts item_table-extended-contacts item_table-extended-contacts_without-top item_table-extended-contacts_transparent">
     <button style="" class="js-item-extended-contacts
   item-extended-contacts
   
   button button-origin
   button-origin_small" data-item-url="/moskva/tovary_dlya_kompyutera/asus_rx_570_strix_1814176422" data-item-id="1814176422" data-iscvsimpletestuser="true" data-item-category-id="101" data-search-hash="r131ml21xdcooc0wos4skgo844cc4wg" data-marker="item-contact">
   Показать телефон
   </button>
    </div>
    </div>
    </div>
       
   </div>